@import "tailwindcss";

html, body, #root {
  background-color: #030712; /* gray-950 */
  height: 100%;
  overflow: hidden;
}

@theme {
  --color-strava: #FC5200;
  --color-strava-light: #fd7034;
  --color-strava-dark: #d44600;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
