@import "tailwindcss";

@theme {
  --color-strava: #FC5200;
  --color-strava-light: #fd7034;
  --color-strava-dark: #d44600;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
